img {
  display: block;
  max-width: 100%;
}
body {
  background-color: #eee;
  align-content: center;
}
.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* ville gör fonten lite mer läsbar genom att göra den lite större */
  font-size: 110%;
}

.wrapper {
  
  grid-template-columns: 1fr;
  grid-template-areas:
    "top"
    "big_img"
    "grooming"
    "column_1"
    "column_2" 
    "column_3"
    "partners";
    width: 50%;
}
#wrapper-block{
  margin: auto;
 
  background-color: #eee;
  display: grid;
  gap: 20px;
}
.top {
  display: flex;
  justify-content: space-between;
  grid-area: top;
}
.top_child {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.img_text {
  margin-left: 20px;
  padding: 20px;
}
.top_child>div>h2{
  display: flex;
  flex-wrap: nowrap;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  flex-wrap: wrap;
}
.menu li {
  list-style: none;
  display: block;
  background-color: #f5f5dc;
  border-radius: 4px;
  box-shadow: 1px 2px 1px #bcbca0;
}
.no_line {
  text-decoration: none;
  font-weight: 900;
  color: black;
}
.img_big {
  background-image: url(img/happiest-dog.webp);
  height: 600px;
  grid-area: big_img;
  padding: 0px;
}
.white_text {
  color: white;
}
.down_left {
  display: flex;
  align-items: flex-end;
}
.container {
  background-color: white;
}
.padding {
  padding: 20px;
}
.radius {
  border-radius: 20px;
}
.grooming {
  flex-direction: column;
  align-self: center;
  margin: auto;
  text-align: center;
}
#grooming_default{
  display: flex;
  grid-area: grooming;
}
.grooming img {
  height: 300px;
  width: 650px;
}
.grooming_text {
  padding: 20px;
}
.partners {
  flex-direction: column;
  flex-wrap: wrap;
}
#partner-box{
  display: flex;
  grid-area: partners;
  justify-content: space-between;
}
.partners_logo {
  display: flex;
  justify-content: center;
}
.partners_logo#gpt {
  width: 50%;
  align-self: center;
}
.column1 {
  grid-area: column_1;
}
.column2 {
  grid-area: column_2;
}
.column3 {
  grid-area: column_3;
}
.column_img {
  margin: auto;
}
.test {
  background-color: yellow;
}
.center {
  align-items: center;
  margin: auto;
  text-align: center;
}
.margin{
  align-items: center;
  margin: auto;
}
@media screen and (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "top top top"
      "big_img big_img big_img"
      "grooming grooming grooming"
      "column_1 column_2 column_3" 
      "partners partners partners";
    width: 700px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    gap: 50px;
    margin-right: 40px;
  }
  .grooming {
    display: flex;
    justify-content: space-between;
    grid-area: grooming;
  }
  .center{
    margin: 0;
  }
  .grooming{
    flex-direction: row;
   
  }
}

@media screen and (min-width: 1230px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "top top top top"
      "big_img big_img big_img big_img"
      "grooming grooming grooming partners"
      "column_1 column_2 column_3 partners";
    width: 1200px;
  }
}